/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between; /* Espaciado entre el logo y las opciones */
  align-items: center; /* Centrar verticalmente */
  padding: 1rem 2rem;
  background-color: #003366; /* Azul oscuro */
  color: white;
  position: fixed;
  top: 0;
  width: 100%; /* Ocupa todo el ancho */
  z-index: 1000;
  transition: top 0.3s;
  box-sizing: border-box; /* Asegura que padding no exceda el ancho total */
}

.navbar.hidden {
  top: -100px; /* Ocultar barra cuando está escondida */
}

.navbar-brand {
  font-size: 1.5rem;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-icon {
  display: none; /* Oculto por defecto */
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-links {
  display: flex; /* Alineación horizontal */
  list-style: none;
  gap: 1.5rem; /* Espaciado entre los elementos */
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Efecto hover translúcido */
}

.navbar-links li {
  flex-shrink: 0; /* Evita que se reduzca el tamaño de las opciones */
}

.navbar-links a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.5rem 0; /* Espaciado vertical entre los enlaces */
  padding: 0.5rem;
  border-radius: 0.25rem; /* Bordes redondeados de los enlaces */
  transition: background-color 0.3s ease;
}

/* Menú desplegable en móviles */
.navbar-links.active {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  background-color: rgba(0, 51, 102, 0.95); /* Fondo azul con transparencia */
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para el menú */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  border-radius: 0.5rem; /* Bordes redondeados para un diseño más elegante */
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Mostrar el ícono de menú en móviles */
  }

  .navbar-links {
    display: none; /* Ocultar el menú por defecto */
    flex-direction: column; /* Apilar los elementos verticalmente */
  }

  .navbar-links.active {
    display: flex; /* Mostrar menú al hacer clic en el ícono */
  }

  .navbar-brand {
    font-size: 1.2rem; /* Ajustar el tamaño del logo en móviles */
  }
}
